@model ReportRegister.Models.Report
@using Microsoft.AspNetCore.Identity
@using ReportRegister.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report</h1>
<a asp-action="Index">Back to List</a>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Files)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Files != null)
                @foreach (var s in Model.Files)
                {
                    <a href="@Href("../Download?filename="+s.Name)">@s.ToString()</a><span>&nbsp;</span>
                }

        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(PredefinedRoles.Employee))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
    }
</div>

<h1 class="mt-5 mb-3">Replies</h1>
<hr>
@if (Model.Replies != null)
    @foreach (var s in Model.Replies)
    {
        <div class="border rounded my-2">
            <div class="p-3">@s.Content</div>
            <div class="border-top bg-light p-1">
                @s.Date&nbsp;-&nbsp;
                @if (s.Author.LastName != null && s.Author.FirstName != null)
                {
                    <i>@(s.Author.LastName + " " + s.Author.FirstName)</i>
                }
                else
                {
                    <i>@(s.Author.Email)</i>
                }


            </div>
        </div>
    }

<form asp-action="Reply" asp-route-id="@Model.Id" class="mt-5">
    <div class="input-group">
        <textarea name="Content" class="form-control" style="height:50px;"></textarea>

        <div class="input-group-append">
            <input type="submit" value="Reply" class="btn btn-primary" style="max-height:50px;" />
        </div>
    </div>
</form>
